
cours/deep_ecn_2018/code_deep_ecn/CroppedYale/yaleB39/

*.pgm

*.bad

\.Rhistory

cours/deep_ecn_2018/prez/cours\.synctex\.gz

cours/deep_ecn_2018/prez/cours\.pdf

*.log
.DS_Store
.DS_Store
.DS_Store
